.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 50px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 20px;
}

.nav-connect {
    padding: 30px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.abc {
    text-decoration: none;
    color: white;
}

.nav-connect:hover {
    transform: scale(1.05);
}


.profile-img {
    height: 75px;
    width: 75px;
    padding-left: 0px;
    

    

}

.hidden-checkbox {
    display: none;
}

.toggle-switch {
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-handle {
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
}


.hidden-checkbox:checked+.toggle-switch {
    background-color: #333;
    
}

.hidden-checkbox:checked+.toggle-switch .toggle-handle {
    transform: translateX(30px);
    
}

.themeset img {
    padding-right: 100px;
}


.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img {
    display: flex;
    margin: auto;
    height: 10px;
    width: 50px;

}

.anchor-link {
    text-decoration: none;
    color: gray;
}

.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}


@media(max-width:768px) {
    .navbar {
        
        margin: 50px 30px;
       
        background: red;
       
    }

.profile-img {
    height: 75px;
    width: 75px;
    padding-left: 0px;
    z-index: 10;
    position: fixed;

    

}

    .toggle-switch {
        margin-left: 275px;
        cursor: pointer;
        position: fixed;
    
    }

    .nav-connect {
        display: none;
    }


    .nav-mob-open {
        height: 30px;
        width: 40px;
        display: block;
        position: fixed;
        right: 30px;
        color: black;
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 40px;
        left: 290px;
        height: 30px;
        width: 40px;
        right: 30px;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #00093f;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
}


.nav-menu li {
    font-size: 20px;
    padding-left: 50px;
    flex-direction: row;
    gap: 20px;
}
